body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('背景图片.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-column, .right-column {
    flex: 1;
    padding: 10px;
}

.left-column img, .right-column img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; /* 保持图片之间的间距 */
    border: none; /* 移除边框 */
}

/* 隐藏特定的标题 */
#project-section h2, #intro-section h2, #members-section h2 {
    display: none; /* 隐藏标题文字 */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    clear: both;
}